.page-container {
    background-color: #E6E6E6;
    width: 100%;
    min-height: 100vh;
    padding: 40px;
    font-family: "IBM Plex Sans", serif;
    font-style: normal;
    color: #000000;
    box-sizing: border-box;
}

img.logo {
    height: 32px;
}

.divider {
    margin: 12px 0;
    height: 1px;
    background-color: #00000012;
}

.section {
    margin: 64px 55px;

    &.intro {
        display: flex;
        flex-wrap: wrap;
        gap: 32px;
        padding-bottom: 158px;

        .column {
            flex: 1 1 calc(50% - 32px);
            max-width: 567px;

            &:first-child {
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 48px;

                >.title {
                    font-size: 32px;
                    line-height: 41.6px;
                    font-weight: 500;

                    .break-option {
                        color: #5773FF;
                    }
                }

                .pack {
                    .title {
                        font-size: 24px;
                        line-height: 36px;
                        font-weight: 400;
                    }

                    .items {
                        border-left: 4px solid #5773FF;
                        padding-left: 12px;

                        >div {
                            font-size: 24px;
                            font-weight: 500;
                            line-height: 31.2px;
                            margin-bottom: 16px;

                            &:last-child {
                                margin-bottom: 0;
                            }
                        }
                    }

                    .buttons {
                        margin-top: 48px;
                    }
                }
            }

            &:last-child {
                .top-graph {
                    position: relative;
                    line-height: 0;
                    background: no-repeat url('/improvement-graph.svg') center;
                    width: 566px;
                    height: 439px;

                    .now,
                    .after {
                        position: absolute;
                        color: #FFFFFF;
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 23px;
                    }

                    .now {
                        left: 20.28218695%;
                        top: 27.7904328%;
                    }

                    .after {
                        left: 70.4%;
                        top: 78.5%;
                    }
                }

                .bottom-graphs {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    margin-top: 16px;

                    .improvement-progress-bar {
                        background: no-repeat url('/improvement-progress-bar.svg') center;
                        width: 274px;
                        height: 274px;
                    }

                    .frame-4151178 {
                        background: no-repeat url('/frame-4151178.svg') center;
                        width: 274px;
                        height: 274px;
                    }
                }
            }
        }
    }

    &.video {
        max-width: 1250px;
        padding-top: 64px;

        >.title {
            font-weight: 500;
            font-size: 48px;
            line-height: 62px;
            color: #5773FF;
        }

        .divider {
            margin-top: 32px;
            margin-bottom: 72px;
        }

        .media-container {
            display: flex;
            gap: 48px;
            flex-wrap: wrap;

            .column {

                &.video {
                    max-width: 746px;

                    video {
                        width: 100%;
                    }
                }

                &.progress {
                    .container {
                        background-color: #FFFFFF;
                        padding: 5.5px;
                        box-sizing: border-box;
                        border-radius: 20px;

                        .bar {
                            background-color: #5773FF;
                            border-radius: 8px;
                        }

                        &.vertical {
                            height: 100%;

                            .bar {
                                width: 5px;
                                height: 0px;
                            }
                        }

                        &.horizontal {
                            width: 100%;
                            display: none;

                            .bar {
                                height: 5px;
                                width: 0px;
                            }
                        }
                    }
                }

                &.collapsible {
                    max-width: 392px;

                    .title {
                        display: flex;
                        align-items: center;
                        color: #5773FF;
                        font-weight: 500;
                        font-size: 24px;
                        line-height: 31.2px;
                        gap: 4px;
                        padding-top: 3.5px;
                        padding-bottom: 3.5px;
                        box-sizing: border-box;

                        .chevron {
                            width: 24px;
                            height: 24px;
                            background: url('/chevron-down.svg') no-repeat center center;
                        }
                    }

                    .item.open {
                        .title .chevron {
                            transform: rotate(180deg);
                        }

                        .content {
                            display: block;
                        }
                    }

                    .content {
                        font-weight: 400px;
                        font-size: 20px;
                        line-height: 30px;
                        padding: 12px 0;
                        box-sizing: border-box;
                        display: none;
                    }
                }
            }
        }
    }
}

button.button {
    background-color: #5773FF;
    border: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #fff;
    font-family: "IBM Plex Sans", serif;
    font-style: normal;
    border-radius: 72px;
    padding: 16px 24px;

    span {
        display: inline-flex;
        gap: 12px;
        align-items: center;
    }
}

footer {
    text-align: center;
    background-color: #000000;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.32px;
    color: #FFFFFF;
    padding: 24px 0;
}


@media (max-width: 1440px) {
    .page-container {
        display: flex;
        flex-direction: column;
        align-content: center;
        flex-wrap: wrap;
        padding-left: 0px;
        padding-right: 0px;

        .section {
            max-width: 567px;

            &.intro {
                padding-bottom: 0;
            }

            &.video {
                .media-container {
                    flex-direction: column;

                    .column.progress {
                        .container {

                            &.vertical {
                                display: none;
                            }

                            &.horizontal {
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 675px) {
    .logo {
        display: none;
    }

    .page-container {
        padding-top: 0;
    }

    .section {
        margin-left: 16px;
        margin-right: 16px;

        &.intro {
            margin-top: 32px;
            margin-bottom: 16px;

            .column {
                &:first-child {
                    gap: 32px;

                    >.title {
                        font-size: 24px;
                        line-height: 31.2px;
                    }

                    .pack {
                        .title {
                            font-size: 20px;
                            line-height: 30px;
                        }

                        .items {
                            >div {
                                font-size: 20px;
                                line-height: 26px;
                            }
                        }

                        button.button {
                            padding: 10px 16px;
                            font-size: 14px;
                            line-height: 18px;
                        }
                    }
                }

                &:last-child {
                    .top-graph {
                        background-image: url('/improvement-graph-small.svg');
                        width: 328px;
                        height: 323px;

                        .now {
                            left: 25%;
                            top: 32.5%;
                        }

                        .after {
                            left: 43.4%;
                            top: 69.5%;
                        }
                    }

                    .bottom-graphs {
                        flex-direction: column;
                        gap: 16px;

                        .improvement-progress-bar {
                            background-image: url('/improvement-progress-bar-small.svg');
                            width: 328px;
                            height: 258px;
                        }

                        .frame-4151178 {
                            background-image: url('/frame-4151178-small.svg');
                            width: 328px;
                            height: 262.5px;
                        }
                    }
                }
            }
        }

        &.video {
            padding-top: 0px;
            margin-top: 32px;

            .title {
                font-size: 32px;
                line-height: 41.6px;
            }

            .divider {
                margin: 16px 0;
            }

            .media-container {
                gap: 32px;
                





                .column {
    
                    &.collapsible {
                        max-width: 392px;
    
                        .title {
                            font-size: 20px;
                            line-height: 26px;
                        }
                        .content {
                            font-size: 16px;
                            line-height: 24px;
                        }
                    }
                }
            }
        }
    }
}