.page-container {
    background-color: #E6E6E6;
    width: 100%;
    min-height: 100vh;
    padding: 40px;
    font-family: "IBM Plex Sans", serif;
    font-style: normal;
    color: #000000;
    box-sizing: border-box;
}

img.logo {
    height: 32px;
}

.divider {
    margin: 12px 0;
    height: 1px;
    background-color: #00000012;
}

.section {
    margin: 64px 55px;

    &.intro {
        display: flex;
        flex-wrap: wrap;
        gap: 32px;
        padding-bottom: 158px;

        .column {
            flex: 1 1 calc(50% - 32px);
            max-width: 567px;

            &:first-child {
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 48px;

                >.title {
                    font-size: 32px;
                    line-height: 41.6px;
                    font-weight: 500;

                    .break-option {
                        color: #5773FF;
                    }
                }

                .pack {
                    .title {
                        font-size: 24px;
                        line-height: 36px;
                        font-weight: 400;
                    }

                    .items {
                        border-left: 4px solid #5773FF;
                        padding-left: 12px;

                        >div {
                            font-size: 24px;
                            font-weight: 500;
                            line-height: 31.2px;
                            margin-bottom: 16px;

                            &:last-child {
                                margin-bottom: 0;
                            }
                        }
                    }

                    .buttons {
                        margin-top: 48px;
                    }
                }
            }

            &:last-child {
                .top-graph {
                    position: relative;
                    line-height: 0;

                    .now,
                    .after {
                        position: absolute;
                        color: #FFFFFF;
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 23px;
                    }

                    .now {
                        left: 20.28218695%;
                        top: 27.7904328%;
                    }

                    .after {
                        left: 70.4%;
                        top: 78.5%;
                    }
                }

                .bottom-graphs {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    margin-top: 16px;
                }
            }
        }
    }

    &.video {
        max-width: 1250px;
        padding-top: 64px;

        >.title {
            font-weight: 500;
            font-size: 48px;
            line-height: 62px;
            color: #5773FF;
        }

        .divider {
            margin-top: 32px;
            margin-bottom: 72px;
        }
        
        .media-container {
            display: flex;
            gap: 48px;
            .column {
                &.video {
                    video {
                        width: 746px;
                    }
                }

                &.progress {
                    .container {
                        background-color: #FFFFFF;
                        padding: 5.5px;
                        box-sizing: border-box;
                        border-radius: 20px;

                        .bar {
                            background-color: #5773FF;
                            border-radius: 8px;
                            width: 5px;
                            height: 0px;
                        }

                        &.vertical {
                            height: 100%;
                        }

                        &.horizontal {
                            height: 100%;
                            display: none;
                        }
                    }
                }

                &.collapsible {
                    .title {
                        display: flex;
                        align-items: center;
                        color: #5773FF;
                        font-weight: 500;
                        font-size: 24px;
                        line-height: 31.2px;
                        gap: 4px;
                        padding-top: 3.5px;
                        padding-bottom: 3.5px;
                        box-sizing: border-box;
                        .chevron {
                            width: 24px;
                            height: 24px;
                            background: url('/chevron-down.svg') no-repeat center center;
                        }
                    }
                    .item.open {
                        .title .chevron {
                            transform: rotate(180deg);
                        }
                        .content {
                            display: block;
                        }
                    }
                    .content {
                        font-weight: 400px;
                        font-size: 20px;
                        line-height: 30px;
                        padding: 12px 0;
                        box-sizing: border-box;
                        display: none;
                    }
                }
            }
        }
    }
}

button.button {
    background-color: #5773FF;
    border: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #fff;
    font-family: "IBM Plex Sans", serif;
    font-style: normal;
    border-radius: 72px;
    padding: 16px 24px;

    span {
        display: inline-flex;
        gap: 12px;
        align-items: center;
    }
}

footer {
    text-align: center;
    background-color: #000000;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.32px;
    color: #FFFFFF;
    padding: 24px 0;
}