<div class="page-container">
    <img src="/hack-motion-logo.svg" class="logo">
    <div class="frame intro">
        <div class="column">
            <div class="title">
                We have put together a swing improvement solution to help you <span class="break-option">break 80</span>
            </div>
            <div class="pack">
                <div class="title">Pack includes:</div>
                <div class="divider"></div>
                <div class="items">
                    <div>Swing Analyzer - HackMotion Core</div>
                    <div>Drills by coach Tyler Ferrell</div>
                    <div>Game improvement plan by HackMotion</div>
                </div>
                <div class="buttons">
                    <button class="button">
                        <span>
                            Start Now <img src="/arrow_forward.svg">
                        </span>
                    </button>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="top-graph">
                <div class="now">Now</div>
                <div class="after">After HackMotion</div>
                <img src="/improvement-graph.svg">
            </div>
            <div class="bottom-graphs">
                <img src="/improvement-progress-bar.svg">
                <img src="/frame-4151178.svg">
            </div>
        </div>
    </div>
</div>